
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://user:password@host:port/db_name?schema=schema_name"
PORT=PORT_OF_THE_APP
JWT_SECRET=JWT_SECRET_OF_YOUR_APP
PREDICTION_MODEL_URL="https://storage.googleapis.com/*/*/*/model.json"
CHATBOT_MODEL_URL="https://storage.googleapis.com/*/*/*/model.json"
CHATBOT_INTENTS_URL="model/chatbot/intents.json"
CHATBOT_CLASSES_URL="model/chatbot/classes.json"
CHATBOT_WORDS_URL="model/chatbot/words.json"